{% extends "user/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid changepassword">
<div class="row py-5">
  <h2 class="text-center my-5 active">Fill Form For Changing the password</h2>
  <div class="col-lg-6 col-md-6 col-sm-12 offset-2 px-5 ">
    <form action="" method="post" novalidate>
      {% csrf_token %} {% for fm in form %}
      <div class="form-group my-4">
        {{fm.label_tag}} {{fm}}
        <small class="text-danger">{{fm.errors|striptags }}</small>
      </div>
      {% endfor %}
      <input type="submit" value="Submit" class="mybtn" />
      <br />
    </form>
    <a href="{% url  'DashBoard' %}" class=" mt-5 logoutbtn"><i class="fa fa-arrow-left fw-bold text-light fs-5" aria-hidden="true"></i></a>
  </div>
  </div>
  
</div>


{% endblock content %}