{% extends "user/base.html" %}
{% load static %}
{% block content %}
<div class="changepassword">
<div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <h3 class="text-center active my-5">Reset Password</h3>
            <hr>
            <p class="text-center active my-5">Enter the Email through which you have register for re-setting the
                password</p>
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group">
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags }}</small>
                </div>
                {% endfor %}
                <input type="submit" value="Submit" class="mybtn my-5">
                <br>
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
<a href="{% url  'Login' %}" class=" mt-5 logoutbtn"><i class="fa fa-arrow-left fw-bold text-light fs-5" aria-hidden="true"></i></a>
  </div>
{% endblock content %}