{% extends "user/base.html" %}
{% load static %}
{% block content %}
<div class="changepassword">
  <div class="container d-flex justify-content-center align-items-center flex-column h-100">
    <h3 class="text-center active">
        Dear , {{request.user}}
    </h3>
    <h4 class="text-center active my-5">
        An Email has been sent with the Link<br />
        Please Check Your Email to reset Your Password
    </h4>
</div>
<a href="{% url  'Login' %}" class=" mt-5 logoutbtn"><i class="fa fa-arrow-left fw-bold text-light fs-5" aria-hidden="true"></i></a>
  </div>
{% endblock content %}