{% extends "user/base.html" %}
{% load static %}
{% block content %}
<div class="userpannel">
    <div class="container my-5 d-flex justify-content-center align-items-center flex-column">
         <h4 style="color: #fff;">Your Password is now successfully Change</h4>
         <br>
         <p class="text-muted">Remember It for Future..</p>
    </div>
    <a href="{% url  'DashBoard' %}" class=" mt-5 logoutbtn"><i class="fa fa-arrow-left fw-bold text-light fs-5" aria-hidden="true"></i></a>
  </div>


{% endblock content %}