{% extends "user/base.html" %}
{% block content %}
 
<div class="adminpannel">
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-12 admin-left">
          <div class="container">
            <h4> <i class="fa fa-user-circle fa-spin mx-2  fa-2x" aria-hidden="true"></i>Admin Panel</h4>
            <hr>
            <div class="d-flex flex-column admin-list">
            <a href="{% url 'DashBoard' %}"> <i class="fa fa-home mx-2 active " aria-hidden="true"></i>Dashboard</a>
            <a href="{% url 'Register' %}"> <i class="fa fa-user-plus mx-2" aria-hidden="true"></i>Add Employee</a>
            <a href="{% url 'Addphoto' %}"> <i class="fa fa-camera mx-2" aria-hidden="true"></i>Add Photos</a>
            <a href="{% url 'Trainsystem' %}"> <i class="fa fa-train mx-2" aria-hidden="true"></i>Train System</a>
            <a href="{% url 'Viewreport' %}"> <i class="fa fa-eye mx-2" aria-hidden="true"></i>View Report</a>
            <a href="{% url 'Logout' %}"> <i class="fa fa-lock mx-2" aria-hidden="true"></i>Logout</a>
            </div>
          </div>
        </div>
        <div class="col-lg-10 col-md-6 col-sm-12 admin-right">
          <div class="container">
            <h3 class="my-5 active text-center">Today Status:</h3>
            <div class="row">
              <div class="col-lg-5 col-md-5 col-sm-12 ">
                <div class="totalemployee">
                <h4 >Total Number of employee </h4>
                <h2> {{total}}</h2>
              </div>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-12 offset-2" >
                <div class="presentemployee">
                  <h4 >Employee Present Today</h4>
                  <h2> 0</h2>
                </div>
              </div>
            </div>
          </div>


        </div>
    </div>
</div>
</div>

{% endblock content %}