{% extends "user/base.html" %}
{% load static %}
{% block content %}
<div class="changepassword">
  <div class="container d-flex justify-content-center align-items-center flex-column h-100">
    <h4 class="text-center active my-5">
      Your Password is now successfully Change
    </h4>
    <h6 class="text-center text-dark">Please Remember it...</h6>
  
  </div>
<a href="{% url  'Login' %}" class=" mt-5 logoutbtn"><i class="fa fa-arrow-left fw-bold text-light fs-5" aria-hidden="true"></i></a>
  </div>
{% endblock content %}