.home-bg{
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.4)), url('../../public/collection/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 80vh;
}
